<div class="footer">
  <div class="footer-header">
    <div class="legales-links">
      <%= link_to 'Terms', terms_path %>
      <span class="separateur-footer">|</span>
      <%= link_to 'Privacy', privacy_path %>
      <span class="separateur-footer">|</span>
      <%= link_to 'CGV', cgv_path %>
    </div>
    <div class="social-links">
      <%= link_to "http://www.facebook.com/mibsuit", target: :_blank do %>
        <%= image_tag 'icon-facebook.svg', alt: 'Icon Facebook', loading: 'lazy', height:25 %>
      <% end %>
      <%= link_to "http://www.instagram.com/mibsuit", target: :_blank do %>
        <%= image_tag 'icon-instagram.svg', alt: 'Icon Instagram', loading: 'lazy', height:25 %>
      <% end %>
    </div>
  </div>
  <div class="footer-footer text-center">
    ©MenInBlackSuit 2023
  </div>
</div>

