
<div class="mib-home">
  <div class="title text-center">
    <div class="mib-brand">
      <h1>MIB SUIT</h1>
      <h2><%= t('home.subtitle') %></h2>
    </div>
    <%= image_tag 'logo-mib.png' %>
    <p><%= t('home.slogan') %></p>
    <%= link_to t('home.btn'), class:'btn-home' %>
  </div>
</div>
<div class="mib-services" id="services">
  <div class="title-section">
    <h2>SERVICES</h2>
  </div>
  <div class="services-wrapper">
    <div class="service text-center">
      <div class="service-logo">
        <%= image_tag 'logo-transfert.png' %>
      </div>
      <div class="service-title">
        <h4><%= t('service.title.one') %></h4>
      </div>
      <div class="service-text">
        <p><%= t('service.text.one') %></p>
      </div>
    </div>

    <div class="service text-center">
      <div class="service-logo">
        <%= image_tag 'logo-event.png' %>
      </div>
      <div class="service-title">
        <h4><%= t('service.title.two') %></h4>
      </div>
      <div class="service-text">
        <p><%= t('service.text.two') %></p>
      </div>
    </div>

    <div class="service text-center">
      <div class="service-logo">
        <%= image_tag 'logo-business.png' %>
      </div>
      <div class="service-title">
        <h4><%= t('service.title.three') %></h4>
      </div>
      <div class="service-text">
        <p><%= t('service.text.three') %></p>
      </div>
    </div>

    <div class="service text-center">
      <div class="service-logo">
        <%= image_tag 'logo-tourism.png' %>
      </div>
      <div class="service-title">
        <h4><%= t('service.title.four') %></h4>
      </div>
      <div class="service-text">
        <p><%= t('service.text.four') %></p>
      </div>
    </div>

    <div class="service text-center">
      <div class="service-logo">
        <%= image_tag 'logo-conciergerie.png' %>
      </div>
      <div class="service-title">
        <h4><%= t('service.title.five') %></h4>
      </div>
      <div class="service-text">
        <p><%= t('service.text.five') %></p>
      </div>
    </div>
  </div>
</div>

<div class="mib-vehicule" id="vehicule">
  <div class="title-section">
    <h2>VEHICULE</h2>
  </div>
  <h4><%= t('vehicule.name') %></h4>
  <%= image_tag 'mib-toyota.WebP' %>
  <div class="vehicule-description">
    <p><%= t('vehicule.description') %></p>
  </div>
</div>

<div class="mib-contact" id="contact">
  <div class="title-section">
    <h2>CONTACT</h2>
  </div>
  <div class="contact-infos text-center">
    <p>06.13.35.23.49</p>
    <p>abdelk@mibsuit.com</p>
    <p>459 Rue Francois Estier  <br> 01170 Echenevex</p>
  </div>
  <div class="contact-form">

  </div>
  <div class="contact-map">

  </div>
</div>
