
<div class="mib-home">
  <div class="home-wraper">
    <div class="title text-center">
      <div class="mib-brand">
        <h1>MIB SUIT</h1>
        <h2><%= t('home.subtitle') %></h2>
      </div>
      <%= image_tag 'logo-mib.png' %>
      <p><%= t('home.slogan') %></p>
      <div class="home-buttons">
        <div class="btn-phone"><i class="fas fa-phone-alt"></i>06.13.35.23.49</div>
        <%= link_to t('home.btn'), class:'btn-home' %>
      </div>
    </div>
  </div>
</div>
<div class="mib-driver">
  <div class="title-driver">
    <h2><%= t('chauffeur.title') %></h2>
  </div>
  <div class="subtitle-driver">
    <h4><%= t('chauffeur.description') %></h4>
  </div>
  <div class="driver-policies">
    <div class="policy">
      <div class="policy-name">
        <div class="policy-icon">
          <i class="far fa-clock fa-2x"></i>
        </div>
        <p><%= t('chauffeur.policy.one') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
         <i class="fas fa-user-tie fa-2x"></i>
        </div>
        <p><%= t('chauffeur.policy.two') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
          <%= image_tag 'service-icon.png' %>
        </div>
        <p><%= t('chauffeur.policy.three') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
          <i class="fas fa-euro-sign fa-2x"></i>
        </div>
        <p><%= t('chauffeur.policy.four') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
          <i class="far fa-credit-card fa-2x"></i>
        </div>
        <p><%= t('chauffeur.policy.five') %></p>
      </div>
    </div>
  </div>
</div>
<div class="mib-prestations" id="prestations">
  <div class="title-section">
    <h2><%= t('service.sujet') %></h2>
  </div>
  <div class="subtitle-section">
    <h4><%= t('service.subtitle') %><br><%= t('service.subtitle2') %></h4>
  </div>
  <div class="cards-container">
    <div class="card">
      <div class="content">
        <%= image_tag 'airport.png' %>
        <h3 class="service-title"><%= t('service.title.one') %></h3>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'events.png' %>
        <h3 class="service-title"><%= t('service.title.two') %></h3>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'business.png' %>
        <h3 class="service-title"><%= t('service.title.three') %></h3>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'camera.png' %>
        <h3 class="service-title"><%= t('service.title.four') %></h3>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'shopping.png' %>
        <h3 class="service-title"><%= t('service.title.five') %></h3>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'concierge.png' %>
        <h3 class="service-title"><%= t('service.title.six') %></h3>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
  </div>
</div>

<div class="mib-vehicule" id="vehicule">
  <div class="title-section">
    <h2 id="title-vehicule"><%= t('vehicule.title') %></h2>
  </div>
  <%= image_tag 'mib-toyota.WebP' %>
  <h4><%= t('vehicule.name') %></h4>
  <div class="vehicule-description">
    <p><%= t('vehicule.description') %></p>
  </div>
  <div class="grid-container">
    <img src="/assets/sm-image1.png" data-imagesrc="/assets/image1.png" alt="Toyota Camry" class="lightbox-enabled">
    <img src="/assets/sm-image2.png" data-imagesrc="/assets/image2.png" alt="Toyota Camry" class="lightbox-enabled">
    <img src="/assets/sm-image3.png" data-imagesrc="/assets/image3.png" alt="Toyota Camry" class="lightbox-enabled">
    <img src="/assets/sm-image4.png" data-imagesrc="/assets/image4.png" alt="Toyota Camry" class="lightbox-enabled">
  </div>
  <div class="lightbox-container">
    <div class="lightbox-image-wrapper">
      <button class="lightbox-btn left" id="left">
        <%= image_tag 'prev.png' %>
      </button>
      <img alt="Toyota" class="lightbox-image">
      <button class="lightbox-btn right" id="right">
        <%= image_tag 'next.png' %>
      </button>
    </div>
  </div>
</div>

<div class="mib-contact" id="contact">
  <div class="title-section">
    <h2><%= t('contact.title') %></h2>
  </div>
  <div class="contact-infos text-center">
    <div class="info-details">
      <div class="info-icon">
        <i class="fas fa-mobile-alt fa-2x"></i>
      </div>
      <p>06.13.35.23.49</p>
    </div>
    <div class="info-details">
      <div class="info-icon">
        <i class="far fa-envelope fa-2x"></i>
      </div>
      <p>abdelk@mibsuit.com</p>
    </div>
    <div class="info-details">
      <div class="info-icon">
        <i class="fas fa-map-marker-alt fa-2x"></i>
      </div>
      <p>459 Rue Francois Estier  <br> 01170 Echenevex</p>
    </div>
  </div>
  <div class="contact-form">
    <div class="form-wrapper">
      <form action="https://formspree.io/f/moqrvrap" method="POST" >
        <input type="text" name="name" id="full-name" autocomplete="off" required placeholder="<%= t('contact.label.name') %>" />
        <input type="email" name="_replyto" autocomplete="off" required placeholder="Email"/>
        <input type="phone" name="phone" autocomplete="off" required placeholder="Téléphone"/>
        <textarea row="3" name="message" id="message" required placeholder="Message..."></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Formulaire SAP">
        <input type="submit" value="ENVOYER VOTRE MESSAGE" class="btn-contact">
      </form>
    </div>
  </div>
</div>
