
<div class="mib-home">
  <div class="home-wraper">
    <div class="title text-center">
      <div class="mib-brand">
        <h1>MIB SUIT</h1>
        <h2><%= t('home.subtitle') %></h2>
      </div>
      <%= image_tag 'logo-mib.png' %>
      <p><%= t('home.slogan') %></p>
      <%= link_to t('home.btn'), class:'btn-home' %>
    </div>
  </div>
</div>
<div class="mib-services" id="services">
  <div class="title-section">
    <h2> NOS SERVICES</h2>
  </div>
  <div class="cards-container">
    <div class="card">
      <div class="content">
        <%= image_tag 'logo-transferts.png' %>
        <h3 class="service-title"><%= t('service.title.one') %></h3>
        <p><%= t('service.text.one') %></p>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'logo-events.png' %>
        <h3 class="service-title"><%= t('service.title.two') %></h3>
        <p><%= t('service.text.two') %></p>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'logo-business.png' %>
        <h3 class="service-title"><%= t('service.title.three') %></h3>
        <p><%= t('service.text.three') %></p>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'logo-tourisme.png' %>
        <h3 class="service-title"><%= t('service.title.four') %></h3>
        <p><%= t('service.text.four') %></p>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'logo-concierge.png' %>
        <h3 class="service-title"><%= t('service.title.five') %></h3>
        <p><%= t('service.text.five') %></p>
        <a href="#"><%= t('service.btn') %></a>
      </div>
    </div>
  </div>
</div>

<div class="mib-vehicule" id="vehicule">
  <div class="title-section">
    <h2 id="title-vehicule">VEHICULE</h2>
  </div>
  <h4><%= t('vehicule.name') %></h4>
  <%= image_tag 'mib-toyota.WebP' %>
  <div class="vehicule-description">
    <p><%= t('vehicule.description') %></p>
  </div>
</div>

<div class="mib-contact" id="contact">
  <div class="title-section">
    <h2>CONTACTEZ NOUS</h2>
  </div>
  <div class="contact-infos text-center">
    <div class="info-details">
      <div class="info-icon">
        <i class="fas fa-mobile-alt fa-2x"></i>
      </div>
      <p>06.13.35.23.49</p>
    </div>
    <div class="info-details">
      <div class="info-icon">
        <i class="far fa-envelope fa-2x"></i>
      </div>
      <p>abdelk@mibsuit.com</p>
    </div>
    <div class="info-details">
      <div class="info-icon">
        <i class="fas fa-map-marker-alt fa-2x"></i>
      </div>
      <p>459 Rue Francois Estier  <br> 01170 Echenevex</p>
    </div>
  </div>
  <div class="contact-form">
    <div class="form-wrapper">
      <form action="https://formspree.io/f/moqrvrap" method="POST" >
        <input type="text" name="name" id="full-name" autocomplete="off" required placeholder="Nom" />
        <input type="email" name="_replyto" autocomplete="off" required placeholder="Email"/>
        <input type="phone" name="phone" autocomplete="off" required placeholder="Téléphone"/>
        <textarea row="3" name="message" id="message" required placeholder="Message..."></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Formulaire SAP">
        <input type="submit" value="ENVOYER VOTRE MESSAGE" class="btn-contact">
      </form>
    </div>
  </div>
</div>
