
<div class="mib-home">
  <div class="home-wraper">
    <div class="title text-center">
      <div class="mib-brand">
        <h1>MIB SUIT</h1>
        <h2><%= t('home.subtitle') %></h2>
      </div>
      <div class="logo-wrapper">
        <%= image_tag 'logo-mib.WebP', alt: 'Logo MIB Suit' %>
      </div>
      <p><%= t('home.slogan') %></p>
      <div class="home-buttons">
        <div class="btn-phone">
          <%= image_tag 'icon-mobile-white.svg', alt: 'Mobile Icon', height:25 %>
          +33.613.35.23.49
        </div>
        <%= link_to t('home.btn'), root_path(anchor: 'contact') %>
      </div>
    </div>
  </div>
</div>
<div class="mib-driver">
  <div class="title-driver">
    <h2><%= t('chauffeur.title') %></h2>
  </div>
  <div class="subtitle-driver">
    <h3><%= t('chauffeur.description') %></h3>
  </div>
  <div class="driver-policies">
    <div class="policy">
      <div class="policy-name">
        <div class="policy-icon">
          <%= image_tag 'icon-clock.svg', alt: 'Icon Clock', loading: 'lazy', height:50, width:50 %>
        </div>
        <p><%= t('chauffeur.policy.one') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
         <%= image_tag 'icon-driver.svg', alt: 'Icon Driver', loading: 'lazy', height:50, width:50 %>
        </div>
        <p><%= t('chauffeur.policy.two') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
          <%= image_tag 'icon-service.svg', alt: 'Icon Service', loading: 'lazy', height:50, width:50 %>
        </div>
        <p><%= t('chauffeur.policy.three') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
          <%= image_tag 'icon-euro.svg', alt: 'Icon Euro', loading: 'lazy', height:50, width:50 %>
        </div>
        <p><%= t('chauffeur.policy.four') %></p>
      </div>
      <div class="policy-name">
        <div class="policy-icon">
          <%= image_tag 'icon-cc.svg', alt: 'Icon Credit Card', loading: 'lazy', height:50, width:50 %>
        </div>
        <p><%= t('chauffeur.policy.five') %></p>
      </div>
    </div>
  </div>
</div>
<div class="mib-prestations" id="prestations">
  <div class="title-section">
    <h2><%= t('service.sujet') %></h2>
  </div>
  <div class="subtitle-section">
    <h3><%= t('service.subtitle') %><br><%= t('service.subtitle2') %></h3>
  </div>
  <div class="cards-container">
    <div class="card">
      <div class="content">
        <%= image_tag 'icon-airport.WebP', alt: 'Icon Airport', loading: 'lazy' %>
        <h3 class="service-title"><%= t('service.title.one') %></h3>
        <%= link_to t('service.btn'), services_path %>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'icon-events.WebP', alt: 'Icon Events', loading: 'lazy' %>
        <h3 class="service-title"><%= t('service.title.two') %></h3>
        <%= link_to t('service.btn'), services_path(anchor: 'transfert') %>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'icon-business.WebP', alt: 'Icon Business', loading: 'lazy' %>
        <h3 class="service-title"><%= t('service.title.three') %></h3>
        <%= link_to t('service.btn'), services_path(anchor: 'events') %>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'icon-camera.WebP', alt: 'Icon Camera', loading: 'lazy' %>
        <h3 class="service-title"><%= t('service.title.four') %></h3>
        <%= link_to t('service.btn'), services_path(anchor: 'business') %>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'icon-shopping.WebP', alt: 'Icon Shopping', loading: 'lazy' %>
        <h3 class="service-title"><%= t('service.title.five') %></h3>
        <%= link_to t('service.btn'), services_path(anchor: 'tourisme') %>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <%= image_tag 'icon-concierge.WebP', alt: 'Icon Concierge', loading: 'lazy' %>
        <h3 class="service-title"><%= t('service.title.six') %></h3>
        <%= link_to t('service.btn'), services_path(anchor: 'shopping') %>
      </div>
    </div>
  </div>
</div>
<div class="mib-tarifs" id="calculator">
  <div class="title-section title-tarifs text-center">
    <h2><%= t('tarifs.prices') %></h2>
  </div>
  <div class="tarifs-wrapper">
    <div class="tarifs-transfert">
      <h3><%= t('tarifs.transfert.title') %></h3>
      <p><%= t('tarifs.transfert.text') %></p>
      <div class="warming">
        <%= image_tag 'icon-exclamation.svg', alt: 'Icon Exclamation', loading: 'lazy', height:25 %>
        <p>Hors frais de péage & tunnel.</p>
      </div>
    </div>
    <div class="tarifs-dispo">
      <h3><%= t('tarifs.dispo.title') %></h3>
      <p><%= t('tarifs.dispo.text') %></p>
      <br>
      <div class="text-center">
        <%= link_to t('home.btn'), root_path(anchor: 'contact'), class: "btn-contact", id: "btn-tarif" %>
      </div>
    </div>
  </div>
</div>
<div class="mib-calculator" >
  <div class="calculator-wrapper">
    <div class="title-section title-devis text-center">
      <h2><%= t('tarifs.calculator') %></h2>
    </div>
    <div class="container-fluid" >
      <div class="wrapper-form">
        <form class="form">
          <div class="form-group">
            <label for="from">
              <%= image_tag 'icon-target.svg', alt: 'Icon Target', loading: 'lazy', height:25 %>
            </label>
            <input type="text" id="from" placeholder="Origin" class="form-control">
          </div>
          <div class="form-group">
            <label for="to">
              <%= image_tag 'icon-address.svg', alt: 'Icon Destination', loading: 'lazy', height:25 %>
            </label>
            <input type="text" id="to" placeholder="Destination" class="form-control">
          </div>
        </form>
        <div class="btns">
          <button class="btn btn-warning btn-lg" id="btn-reset">RESET</button>
          <button class="btn btn-success btn-lg" id="btn-mib">VALID</button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div id="output"></div>
      <div id="googleMap"></div>
    </div>
  </div>
</div>
<div class="mib-vehicule" id="vehicule">
  <div class="title-section">
    <h2 id="title-vehicule"><%= t('vehicule.title') %></h2>
  </div>
  <%= image_tag 'mib-toyota.WebP', alt: 'Toyota Camry', loading: 'lazy' %>
  <h3><%= t('vehicule.name') %></h3>
  <div class="vehicule-description">
    <p><%= t('vehicule.description') %></p>
  </div>
</div>
<div class="title-section title-gallery text-center">
  <h2>GALERIE D'IMAGES</h2>
</div>
<div class="contenu_carou_auto">
  <div class="caroussel-image">
    <%= image_tag 'image1.WebP', alt: 'Toyota Camry Hybride', loading: 'lazy' %>
    <%= image_tag 'image2.WebP', alt: 'Back seats', loading: 'lazy' %>
    <%= image_tag 'image3.WebP', alt: 'Toyota Trunk', loading: 'lazy' %>
    <%= image_tag 'image4.WebP', alt: 'Toyota Inside', loading: 'lazy' %>
    <%= image_tag 'image5.WebP', alt: 'Credit card payment', loading: 'lazy' %>
    <%= image_tag 'image6.WebP', alt: 'Opening the door', loading: 'lazy' %>
    <%= image_tag 'image7.WebP', alt: 'Cocktail Event', loading: 'lazy' %>
    <%= image_tag 'image8.WebP', alt: 'Toyota Inside', loading: 'lazy' %>
  </div>
</div>

<div class="mib-contact" id="contact">
  <div class="title-section">
    <h2><%= t('contact.title') %></h2>
  </div>
  <div class="contact-infos text-center">
    <div class="info-details">
      <div class="info-icon">
        <%= image_tag 'icon-mobile.svg', alt: 'Icon Mobile', loading: 'lazy', height:50 %>
      </div>
      <p>06.13.35.23.49</p>
    </div>
    <div class="info-details">
      <div class="info-icon">
        <%= image_tag 'icon-envelop.svg', alt: 'Icon Envelop', loading: 'lazy', height:50 %>
      </div>
      <p>abdelk@mibsuit.com</p>
    </div>
    <div class="info-details">
      <div class="info-icon">
        <%= image_tag 'icon-mapmarker.svg', alt: 'Icon Map Marker', loading: 'lazy', height:50 %>
      </div>
      <p>459 Rue Francois Estier  <br> 01170 Echenevex</p>
    </div>
  </div>
  <div class="contact-form">
    <div class="form-wrapper">
      <form action="https://formspree.io/f/moqrvrap" method="POST" >
        <input type="text" name="name" id="full-name" autocomplete="off" required placeholder="<%= t('contact.label.name') %>" />
        <input type="email" name="_replyto" autocomplete="off" required placeholder="<%= t('contact.label.email') %>"/>
        <input type="phone" name="phone" autocomplete="off" required placeholder="<%= t('contact.label.phone') %>"/>
        <textarea row="3" name="message" id="message" required placeholder="<%= t('contact.label.message') %>"></textarea>
        <input type="hidden" name="_subject" id="email-subject" value="Formulaire MIB">
        <input type="submit" value="<%= t('contact.button') %>" class="btn-contact">
      </form>
    </div>
  </div>
</div>
