<section class="mib-services">
  <div class="title-section text-center">
    <h1><%= t('service.page') %></h1>
  </div>
  <div class="services-wrapper">

    <div class="service" id="transfert">
      <div class="service-img">
        <%= image_tag 'transfert.WebP' %>
      </div>
      <div class="service-description">
        <h3><%= t('service.title.one') %></h3>
        <p><%= t('service.text.one') %></p>
      </div>
    </div>

    <div class="service" id="events">
      <div class="service-img">
        <%= image_tag 'events.WebP' %>
      </div>
      <div class="service-description">
        <h3><%= t('service.title.two') %></h3>
        <p><%= t('service.text.two') %></p>
      </div>
    </div>

    <div class="service" id="business">
      <div class="service-img">
        <%= image_tag 'businessman.WebP' %>
      </div>
      <div class="service-description">
        <h3><%= t('service.title.three') %></h3>
        <p><%= t('service.text.three') %></p>
      </div>
    </div>

    <div class="service" id="tourisme">
      <div class="service-img">
        <%= image_tag 'jeteau.WebP' %>
      </div>
      <div class="service-description">
        <h3><%= t('service.title.four') %></h3>
        <p><%= t('service.text.four') %></p>
      </div>
    </div>

    <div class="service" id="shopping">
      <div class="service-img">
        <%= image_tag 'shopping.WebP' %>
      </div>
      <div class="service-description">
        <h3><%= t('service.title.five') %></h3>
        <p><%= t('service.text.five') %></p>
      </div>
    </div>

    <div class="service" id="conciergerie">
      <div class="service-img">
        <%= image_tag 'concierge.WebP' %>
      </div>
      <div class="service-description">
        <h3><%= t('service.title.six') %></h3>
        <p><%= t('service.text.six') %></p>
      </div>
    </div>

  </div>
</section>


